* {
  padding:0;
  margin: 0;

  border: 0;
  outline: 0;

  font-size: 1vw;
  font-family: Helvetica, Arial, sans-serif;
}
body {
  background-color:#232323;
}
.boot {
  width: 100vw;
  height: calc(100vh - 2rem);
}
.statusBar {
  position: fixed;
  bottom:0;

  width: 100%;

  box-sizing: border-box;

  padding: .3rem;

  background-color: #0055bb;

  display: flex;
  justify-content: flex-end;
}
.legend {
  flex-grow: 4;

  color: #ffffff;

  text-align: left;
}
.patreon {
  position: absolute;

  bottom: 2.3rem;
  right: .3rem;

  width: 6rem;

  cursor: pointer;

  display: inline-block;
}
.patreon__image {
  display: block;

  width: 100%;
}
.counter {
  color:#ffffff;

  font-size: .875rem;

  padding: 0 1rem;
}
.counter--control {
  font-size: .7rem;

  line-height: 1rem;

  padding:0;
}